<ion-view title="Agendamentos Admin" id="page4">
  <ion-content padding="true" class="has-header" style="background-color: #efefef">

    <div ng-repeat="req in requisitions" class="">

      <div class="list card {{req.status}}-card" id="agendamentosConsultor-{{req.id}}" ui-sref="infoSchedule({scheduleId: req.id})">
        <div class="row">
          <div class="col col-67 card-first-info">{{req.client}}</div>
          <div class="col col"><i class="icon ion-ios-checkmark status-{{req.status}}">{{req.status.toUpperCase()}}</div></i>
          </div>
          <div class="row">
            <div class="col card-second-info">{{req.consultant}} - {{req.service}} - {{req.subject}}</div>
          </div>
          <div class="row">
            <div class="col">{{req.initDate | date: "dd-MM-yyyy"}}

            </div><i class="icon ion-ios-arrow-forward"></i>
          </div>
        </div>

  </ion-content>
</ion-view>
